{% load mathfilters %}
<nav aria-label="Season Pager">
<ul class="pagination justify-content-left">
<li class="page-item {% if current_page == 1 %} disabled {% endif %}">
  <a class="page-link" href="#" onclick="agent.paginator.load_page('1');"><i class="fa-duotone fa-solid fa-backward-fast"></i>&#160;First</a>
</li>
<li class="page-item {% if current_page == 1 %} disabled {% endif %}">
  <a class="page-link" href="#" onclick="agent.paginator.load_page('{{ current_page|sub:1 }}');"><i class="fa-duotone fa-solid fa-backward"></i>&#160;Previous</a>
</li>
  {% for page in paginator_range %}
      <li class="page-item">
      {% if  page == current_page %}
          <a class="page-link active" href="#">{{ page }}</a>
      {% else %}
        <a class="page-link" href="#" onclick="agent.paginator.load_page('{{ page }}');">{{ page }}</a>
      {% endif %}
      </li>
  {% endfor %}
<li class="page-item {% if current_page == total_records %} disabled {% endif %}">
  <a class="page-link" href="#" onclick="agent.paginator.load_page('{{ current_page|add:1 }}');">Next&#160;<i class="fa-duotone fa-solid fa-forward"></i></a>
</li>
<li class="page-item {% if current_page == total_records %} disabled {% endif %}">
  <a class="page-link" href="#" onclick="agent.paginator.load_page('{{ total_records }}');">Last&#160;<i class="fa-duotone fa-solid fa-forward-fast"></i></a>
</li>
</ul>
</nav>