{% load django_bootstrap5 %}
<div class="card w-90 mx-1 my-1">
    <div class="card-header">
        {% block card_header %}
        <h1>The Card Header</h1>
        {%  endblock %}
    </div>
    <div class="card-body mx-2 my-2 px-1 py-1">
        {% block card_body %}
            {% block card_intro %}
            {% endblock %}
        {% if card_form %}
            <form id="edit_form" method="POST" onsubmit="{{ card_form_onsubmit }}" data-post-url="{{  card_form_post_url }}">
            {%  csrf_token %}
            {% bootstrap_form card_form %}
            <div class="card-footer">
                <div class="d-flex justify-content-end">
                    <div class="p-2"><input type="reset" class="btn btn-primary" value="Reset Form"/></div>
                    <div class="p-2"><input type="submit" class="btn btn-success" value="Save Changes"/></div>
                </div>
            </div>
            </form>

        {% else %}
            <p>Empty Card Body. Replace <strong>card_body</strong> template tag or include a <strong>card_form</strong> Form.</p>
        {%  endif %}
        {%  endblock %}
    </div>
</div>